<div class="Container">
    <div class="Menu">
        <div class="Logo">
            <img src="../assets/logo.png" alt="Logo">
            Bienvenido a Uruguay Natural
        </div>
        <div class="nav">
            <ul>
                <li class='hover' >
                    <a routerLink="regiones">Regiones</a>
                </li>
                <li class='hover'>
                    <a routerLink="puntos">Puntos turisticos</a>
                </li>
                <li class='hover'>
                    <a routerLink="hospedajes">Hospedajes</a>
                </li>
                <li class='hover'>
                    <a routerLink="categorias">Categorias</a>
                </li>
                <li class='hover'>
                    <a routerLink="reservas">Reservas</a>
                </li>
                <li class='hover'>
                    <a routerLink="usuarios" >Usuarios</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="DisplayBlock">
        <router-outlet></router-outlet>
    </div>
</div>