.Container {
    position: relative;
    width: 70%;
    height: 70%;
    text-align: center;
    letter-spacing: 1px;
}
th{
    font-size: large;
    font-weight: 800;
    color: olive;
}
.Table{
    width: 100%;
    height: 100%;
    margin-left: 15%;
    padding: 40px;
}
.element-Name{
    text-align: left;
}
.element-Descripcion{
    padding-left: 40px;
    padding-right: 40px;
}
.Table td{
    border: 3px solid;
    border-color: royalblue;
    padding: 10px;
}
.Btn{
    background: none;
    border-radius: 20px;
    letter-spacing: 1px;
    background-color: aqua;
    outline: none;
    margin-left: 10px;
    margin-right: 5px; 
}
.BtnCrear{
    width: 30%;
    height: 100%;
    margin-top: 4%;
    margin-left: 20%;
    padding-left: 15px;
    font-size: medium;
    font-weight: bold;
    outline: none;
    letter-spacing: 2px;
}