.Container{
    text-align: center;
    margin-left: 10%;
    margin-top:5%;
}
input{
    display: block;
    border: none;
    border-bottom: 1px solid;
    margin-top: 15px;
}

.Inputs{
    position: relative;
    margin-left: 30%;
    padding-left:10% ;
    padding-right:10% ;
    font-size: 20px;
    font-weight: 600;
    margin-top: 3%;
    width: 20%;
    height: 20%;
    background-color: rgba(173, 216, 230, 0.589);
    border:3px solid;
    border-radius: 5px;
}
.NumberInputs{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}
.Titulo{
    font-size: 2em;
    text-decoration: green underline;
    font-weight: 600;
    padding-bottom: 20px;
}