.Container{
    margin-top: 3%;
    text-align: center;
    width: 50%;
    height: 50%;
    margin-left: 20%;
    background-color: rgba(155, 151, 151, 0.575);
}
.DatosFiltro{
    text-align: center;
    font-size: large;

    font-weight: 600;
    padding:20px;
    padding-left: 50px;
    border: 2px solid;
    border-radius: 2px;
}
select{
    margin: 15px;
    padding:10px;
}
li{
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
}
.PuntosFiltrados{
    margin-top: 15px;
    border-radius: 5px;
}